body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d7d8d7e3;
}

header {
    background-color: #f0e4e4;
    color: #080808;
    padding: 30px 50px;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-right: 70px;
    font-weight: 700;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #050101;
    text-decoration: none;
    padding: 20px 50px;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 5px;
}

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 20px;
  }
  
  .gallery-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .gallery-item img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  }

  .container .footer{
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }